// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~overlayScrollbars/css/OverlayScrollbars.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


//@import '~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css';
.router-link-exact-active{
    background-color: #3f51b5;
    color:#fff !important;
}
